# Virtual environments
venv/
.venv/
env/

# Python
__pycache__/
*.py[cod]

# IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# Models
*.pkl
*.joblib

# Environment variables
.env

#node js
node_modules/
dist/
